<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"	data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#/client">Fidelity</a>
		<!--/.nav-collapse -->
		</div>
	</div>
</div>
<div class="container-fluid" >
	<div class="row-fluid">
		<div class="span3 well">
			<form name="myForm">
				<fieldset>
					<label for="clientnom">Nom :</label> <input type="text" id="clientnom" ng-model="client.nom" placeholder="nom" required/> 
					<label for="clientDateArr">Date d'arrivée :</label> <input type="text" id="clientDateArr" ng-model="client.dateArrivee" date='shortDate' placeholder="dateArrivee" required/> 
					<button type="button" class="btn btn-block btn-success" ng-click="save()">Enregistrer</button>
					<button type="button" class="btn btn-block btn-danger" ng-click="efface()">Effacer</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>